<a href="https://colab.research.google.com/github/albina77/6115-preparation-for-the-credit-Python-3-semester/blob/master/spark_%D1%87%D0%B0%D1%81%D1%82%D1%8C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

## Apache Spark

## Cегодня будем обсуждать:

+ Основные недостатки MapReduce
+ Место Spark в экосистеме больших данных и его общая архитектура
+ Область применения
+ Устройство Spark Dataframe API
+ Чтение данных из источника
+ Работа с данными
  - Базовый SQL
  - NA функции
  - Группировки
  - Запись данных
  - Соединения
  - Оконные функции
  - Функции pyspark.sql.functions

## Основные недостатки классического MapReduce

- Быстроумирающие контейнеры
- Прямая зависимость эффективности MapReduce от количества машин из-за высоких издержек на взаимодействие между ними
- Отсутствие возможности прогнозировать время окончания этапа Map
- Постоянное взаимодействие с внешним хранилищем на этапе чтение/запись между этапами Map и Reduce
- MapReduce API сложное и разработчику требуется писать каждый этап обработки самостоятельно
- Низкая утилизапция железа на кластере из-за деления ресурсов под map и reduce этапы в памяти
- Ограниченное число источников/приемников данных из коробки
- MapReduce - это только вычислительный фреймворк

## Общая информация про Spark

**Apache Spark** - это:
+ Фреймворк с открытым исходным кодом, который позволяет строить распределенные приложения для обработки больших данных
+ Эволюция MapReduce(Hadoop)
+ Есть API на Scala, Java, Python и R
+ Самый популярный проект в области обработки больших данных

## Спарк состоит из следующих компонентов:

- **Ядро (Core);**
- **SQL** – инструмент для аналитической обработки данных с помощью SQL-запросов;
- **Streaming** – надстройка для обработки потоковых данных;
- **MLlib** – набор библиотек машинного обучения;
- **GraphX** – модуль распределённой обработки графов.

![image.png]()

## Архитектура Spark

+ **Driver** `(Master)`:
  - предоставляет API через SparkSession и SparkContext
  - выполняет ваш код - python файл или скомпилированный .jar
  - контролирует выполнение задачи

+ **Workers** `(Executors/Slaves)`:
  - обрабатывают данные
  - каждый Worker работает со своим сегментом данных - **Partition**
  - не выполняются ваш код напрямую
  - получают задачи от Driver
+ **Cluster Manager** `(YARN/Mesos)`:
  - отвечает за аллокацию контейнеров, выполняющих код драйвера и воркеров, на кластере
  - квотирует ресурсы между пользователями
  - контролирует состояние контейнеров

<img style="float: left;" src="https://spark.apache.org/docs/latest/img/cluster-overview.png">

## Структура джобы Spark

+ Spark **«ничего не делает»** до тех пор, пока драйверная программа не вызовет действие
+ При каждом вызове действия планировщик Spark строит DAG выполнения и запускает задание Spark (Spark job)
+ Джоба Spark состоит из этапов, представляющих собой шаги преобразования данных, необходимые для формирования итогового набора RDD.
+ Этап состоит из набора tasks, каждая из которых означает параллельное вычисление, выполняемое на исполнителе.

Под капотом Apache Spark лежит **понятие абстракции данных как распределенного набора объектов**.
- **RDD** – это распределенная коллекция данных, размещенных на узлах кластера, набор объектов Java или Scala, представляющих данные.
- **DataFrame** – это распределенная коллекция данных, организованная в именованные столбцы. Концептуально он соответствует таблице в реляционной базе данных с улучшенной оптимизаций для распределенных вычислений. DataFrame доступен в языках программирования Scala, Java, Python и R.
- **DataSet** – это расширение API DataFrame, добавленный в Spark 1.6. Он обеспечивает функциональность объектно-ориентированного RDD-API (строгая типизация, лямбда-функции), производительность оптимизатора запросов Catalyst и механизм хранения вне кучи API DataFrame [3]. Dataset может быть построен из JVM-объектов и изменен с помощью функциональных преобразований (map, flatMap, filter и т. д.). Dataset API доступен в Scala и Java, не поддерживается R и Python в версии Spark 2.1.1

## Сравнение RDD API и DataFrame API

### Типы данных
**`RDD`**: низкоуревная распределенная коллекция данных любого типа  
**`DF`**: таблица со схемой, состоящей из колонок разных типов, описанных в `org.apache.spark.sql.types`  

### Обработка данных
**`RDD`**: сериализуемые функции  
**`DF`**: кодогенерация SQL > Java код  

### Функции и алгоритмы
**`RDD`**: нет ограничений  
**`DF`**: ограничен SQL операторами, функциями `org.apache.spark.sql.functions` и пользовательскими функциями  

### Источники данных
**`RDD`**: каждый источник имеет свое API  
**`DF`**: единое API для всех источников

### Производительность
**`RDD`**: напрямую зависит от качества кода   
**`DF`**: встроенные механизмы оптимизации SQL запроса   

### Потоковая обработка данных
**`RDD`**: устаревший DStreams   
**`DF`**: активно развивающийся Structured Streaming

## Dataframe API

**Dataframe:**
+ структурированная колоночная структура данных
+ может быть создана на основе:
  - локальной коллекции
  - файла (файлов)
  - базы данных
+ в python работает значительно быстрее, чем RDD
+ под капотом использует RDD
+ позволяет выполнять произвольные SQL операции с данными
+ аналогично RDD являются ленивыми и неизменяеыми

## Из чего состоит Dataframe
+ схема [pyspsark.sql.StructType](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.types.StructType)
+ колонки [pyspark.sql.Column](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column)
+ данные [pyspark.sql.Row](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Row)

## Сценарии использования

- **RDD** целесообразно использовать в следующих кейсах:

    - требуется выполнить низкоуровневые преобразования и действия, контролируя набор данных;
    - данные неструктурированы, например, потоки медиаинформации или текста;
    - объем данных не слишком велик и не требуется строго типизированный код;
    - необходимо манипулировать данными с помощью функциональных программных конструкций, а не выражений, специфичных для предметной области, т.е. предполагается использовать функциональный стиль программирования, а не доменно-ориентированную разработку.
    - необходимо работать с языками программирования Python и R;
    - есть возможность отказаться от некоторых преимуществ оптимизации и производительности, доступных в DataFrame и Dataset для структурированных и полуструктурированных данных.
    
    

- **DataSet и DataFrame** рационально использовать в следующих кейсах:

    - необходима высокая скорость обработки данных;
    - нужна богатая семантика, высокоуровневые абстракции и специфичные для домена API;
    - обработка требует высокоуровневых выражений, фильтров, map-операций, агрегации, средних значений, суммы, SQL-запросов, столбцового доступа и использования лямбда-функций для полуструктурированных данных;
    - используется схема данных или столбцовые форматы (Parquet, ORC), где обработка или доступ к нужным атрибутам выполняется по имени или столбцу;
    - нужна быстрая и избирательная работа с некоторыми атрибутами, например, счетчиками, ассоциативными массивами;
    - необходимо унифицировать и упростить API-интерфейсы в библиотеках Apache

### Операции
1. Трансформации
2. Действия

**Трансформации** (Transormations):
- всегда превращают один RDD/Dataframe в новый RDD/Dataframe
- всегда являются ленивыми - создают граф вычислений, но не запускают их
- иногда (часто) неявно требуют перемешивания данных между воркерами - **Shuffle**

Чаще встречаются следующие трансформации:
- select(), withColumn() — создание проекций столбцов;
- filter() – фильтрация;
- orderBy(), sort(), sortWithinPartitions() – сортировка;
- Different(), dropDuplicates() – удаление дублей (дедупликация), о чем мы писали здесь;
- join() — для операций соединения, про которые мы рассказывали в этой статье;
- groupBy() – агрегация, которая относится к shuffle-операциям, что мы разбирали в этом материале.


**Действия** (Actions):
- выполняют действие над RDD/Dataframe
- запускают вычисления

Чаще встречаются следующие действия:
- count() — вычисляет количество строк в DataFrame;
- show() — выводит на экран 20 записей из DataFrame;
- collect() — выводит все записи на экран, собирая все данные от всех исполнителей и передавая их драйверу;
- toPandas() — аналог collect(), но результатом является не список записей, а датафрейм Pandas;
- take(n) — тоже аналог collect(), который собирает не все записи, а n. Пригодится при проверке наличия данных в отдельном датафрейме или он пуст, например, take (1).
- write — создает записывающий обработчик DataFrame, который позволяет сохранять данные во внешнем хранилище.

  ## Ленивые вычисления:
  - **Spark вычисляет запросы отложенным образом**, рассчитывая результат преобразований набора только в момент, когда становятся необходимы итоговые данные
  - **Spark умеет хранить данные в оперативной памяти** Worker-ов во время всего времени жизни приложения Spark ради ускорения доступа при повторяемых вычислениях




**`Отложенные вычисления`** + **`хранения данных в оперативной памяти`** + **`неизменяемость объектов`** == **`эффективность`** + **`отказоустойчивость`** + **`масштабируемость`**

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=1771aa2974a6de3fb73e69d8961a96fab1cf09fc04fa2056f64dedf9a43991e8
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
import findspark
findspark.init()

In [ ]:
import pyspark
from pyspark.context import SparkContext, SparkConf
from pyspark.sql.session import SparkSession
spark = (
    SparkSession
    .builder
    .appName('BIT_01')
    .config('spark.ui.port', '9311')
    .config('spark.executor.memoryOverhead', '1G')
    .config('spark.shuffle.service.enabled', 'true')
    .config('spark.dynamicAllocation.enabled', 'true')
    .config('spark.driver.extraClassPath', '/opt/spark/jars/sqljdbc42.jar')\
    .config('spark.executor.extraClassPath', '/opt/spark/jars/sqljdbc42.jar')\
    .getOrCreate()
)

In [ ]:
spark

In [ ]:
df = spark.read.option("header",True).csv("superstore_final_dataset.csv")

In [ ]:
# посмотреть схему датафрейма (колонки и их типы)
# cхема может быть сложной, колонка может иметь массив и количество вложенности никак не лимитировано
df.printSchema()

root
 |-- Row_ID: string (nullable = true)
 |-- Order_ID: string (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Ship_Date: string (nullable = true)
 |-- Ship_Mode: string (nullable = true)
 |-- Customer_ID: string (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal_Code: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub_Category: string (nullable = true)
 |-- Product_Name: string (nullable = true)
 |-- Sales: string (nullable = true)

In [ ]:
# select - выбрать несколько столбцов для вывода в консоль драйвера
df.select("Product_ID", "Category").show(10, False)

# Когда вы выбираете несколько столбцов из исходного датафрейма, вы не мутируете их, а создаете новый в памяти
# DF и RDD неизменяемые типы данных
df.show(5,False)

+---------------+---------------+
|Product_ID     |Category       |
+---------------+---------------+
|FUR-BO-10001798|Furniture      |
|FUR-CH-10000454|Furniture      |
|OFF-LA-10000240|Office Supplies|
|FUR-TA-10000577|Furniture      |
|OFF-ST-10000760|Office Supplies|
|FUR-FU-10001487|Furniture      |
|OFF-AR-10002833|Office Supplies|
|TEC-PH-10002275|Technology     |
|OFF-BI-10003910|Office Supplies|
|OFF-AP-10002892|Office Supplies|
+---------------+---------------+
only showing top 10 rows

+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+-----------------------------------------------------------+--------+
|Row_ID|Order_ID      |Order_Date|Ship_Date |Ship_Mode     |Customer_ID|Customer_Name  |Segment  |Country      |City           |State     |Postal_Code|Region|Product_ID     |Category       |Sub_Category|Product_Name                                               |Sales   |
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+-----------------------------------------------------------+--------+
|1     |CA-2017-152156|8/11/2017 |11/11/2017|Second Class  |CG-12520   |Claire Gute    |Consumer |United States|Henderson      |Kentucky  |42420      |South |FUR-BO-10001798|Furniture      |Bookcases   |Bush Somerset Collection Bookcase                          |261.96  |
|2     |CA-2017-152156|8/11/2017 |11/11/2017|Second Class  |CG-12520   |Claire Gute    |Consumer |United States|Henderson      |Kentucky  |42420      |South |FUR-CH-10000454|Furniture      |Chairs      |Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back|731.94  |
|3     |CA-2017-138688|12/6/2017 |16/06/2017|Second Class  |DV-13045   |Darrin Van Huff|Corporate|United States|Los Angeles    |California|90036      |West  |OFF-LA-10000240|Office Supplies|Labels      |Self-Adhesive Address Labels for Typewriters by Universal  |14.62   |
|4     |US-2016-108966|11/10/2016|18/10/2016|Standard Class|SO-20335   |Sean O Donnel  |Consumer |United States|Fort Lauderdale|Florida   |33311      |South |FUR-TA-10000577|Furniture      |Tables      |Bretford CR4500 Series Slim Rectangular Table              |957.5775|
|5     |US-2016-108966|11/10/2016|18/10/2016|Standard Class|SO-20335   |Sean O Donnel  |Consumer |United States|Fort Lauderdale|Florida   |33311      |South |OFF-ST-10000760|Office Supplies|Storage     |Eldon Fold N Roll Cart System                              |22.368  |
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+-----------------------------------------------------------+--------+
only showing top 5 rows

In [ ]:
# write - запись в файл
df.write.csv('test', mode="overwrite")

In [ ]:
df.write.parquet('test2', mode="overwrite")

## Чтение данных из источника
Основной метод чтения любых источников

```df = spark.read.format(datasource_type).option(datasource_options).load(object_name)```

+ ```datasource_type``` - тип источника ("parquet", "json", "cassandra") и т. д.
+ ```datasource_options``` - опции для работы с источником (логины, пароли, адреса для подключения и т. д.)
+ ```object_name``` - имя таблицы/файла/топика/индекса

[DataframeReader](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameReader):
+ по умолчанию выводит схему данных
+ является трансформацией (ленивый)
+ возвращает [Dataframe](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame)

### Список (неполный) поддерживаемых источников данных
+ Файлы:
  - json
  - text
  - csv
  - orc
  - parquet
  - delta
+ Базы данных
  - elasticsearch
  - cassandra
  - jdbc
  - hive
  - redis
  - mongo
+ Брокеры сообщений
  - kafka

## Работа с данными

In [ ]:
# Удаляем дубликаты с помощью метода distinct(), который возвращает новый df, а не мутирует текущий
# Удаляет все колонки, где значения одинаковые во всех столбцах одинаковые
df.distinct().show()

+------+--------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+
|Row_ID|      Order_ID|Order_Date| Ship_Date|     Ship_Mode|Customer_ID|    Customer_Name|    Segment|      Country|         City|       State|Postal_Code| Region|     Product_ID|       Category|Sub_Category|        Product_Name|  Sales|
+------+--------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+
|   468|US-2016-101399|17/01/2016|24/01/2016|Standard Class|   JS-15940|  Joni Sundaresam|Home Office|United States|   Park Ridge|    Illinois|      60068|Central|FUR-FU-10002918|      Furniture| Furnishings|Eldon ClusterMat ...|254.744|
|  1172|US-2015-100279| 10/3/2015|14/03/2015|Standard Class|   SW-20275| Scott Williamson|   Consumer|United States|    Royal Oak|    Michigan|      48073|Central|OFF-PA-10002259|Office Supplies|       Paper|Geographics Note ...|  22.38|
|  2072|US-2018-110996|20/11/2018|25/11/2018|Standard Class|   KA-16525|   Kelly Andreada|   Consumer|United States|      Ontario|  California|      91761|   West|FUR-CH-10003956|      Furniture|      Chairs|Novimex High-Tech...| 283.92|
|  2173|CA-2015-152296|  1/8/2015|  3/8/2015|   First Class|   IL-15100|      Ivan Liston|   Consumer|United States|San Francisco|  California|      94122|   West|OFF-BI-10004506|Office Supplies|     Binders|Wilson Jones data...| 19.752|
|  2197|CA-2017-136483| 1/12/2017| 6/12/2017|Standard Class|   AG-10390|   Allen Goldenen|   Consumer|United States|    Knoxville|   Tennessee|      37918|  South|OFF-AR-10000940|Office Supplies|         Art|          Newell 343|  4.704|
|  2372|CA-2017-159940|  7/7/2017| 11/7/2017|  Second Class|   BF-11020|Barry Franz�sisch|  Corporate|United States|       Aurora|    Illinois|      60505|Central|FUR-FU-10004973|      Furniture| Furnishings|Flat Face Poster ...| 60.288|
|  2501|CA-2018-131618|17/06/2018|20/06/2018|   First Class|   LS-17200|     Luke Schmidt|  Corporate|United States|       Skokie|    Illinois|      60076|Central|OFF-PA-10001892|Office Supplies|       Paper|Rediform Wireboun...| 12.224|
|  2628|US-2018-165344|13/11/2018|15/11/2018|   First Class|   SB-20290|     Sean Braxton|  Corporate|United States|  Springfield|        Ohio|      45503|   East|TEC-AC-10002399|     Technology| Accessories|SanDisk Cruzer 32...| 60.864|
|  2633|US-2018-110604|15/05/2018|20/05/2018|Standard Class|   JF-15295|   Jason Fortune-|   Consumer|United States|      Seattle|  Washington|      98103|   West|FUR-CH-10002017|      Furniture|      Chairs|SAFCO Optional Ar...| 42.624|
|  2825|US-2015-112914|25/09/2015|30/09/2015|Standard Class|   MT-18070|    Michelle Tran|Home Office|United States|      Houston|       Texas|      77041|Central|OFF-PA-10003270|Office Supplies|       Paper|          Xerox 1954| 33.792|
|  2915|CA-2016-134747|12/10/2016|17/10/2016|  Second Class|   DL-12925|      Daniel Lacy|   Consumer|United States|  Noblesville|     Indiana|      46060|Central|TEC-PH-10002890|     Technology|      Phones|AT&T 17929 Lendli...| 135.72|
|  2921|CA-2017-160129|23/11/2017|23/11/2017|      Same Day|   LS-17200|     Luke Schmidt|  Corporate|United States| Philadelphia|Pennsylvania|      19140|   East|FUR-FU-10003976|      Furniture| Furnishings|DAX Executive Sol...| 70.448|
|  3139|CA-2018-164168|12/11/2018|18/11/2018|Standard Class|   LS-16975| Lindsay Shagiari|Home Office|United States|       Dallas|       Texas|      75081|Central|TEC-AC-10004568|     Technology| Accessories|Maxell�LTO Ultriu...| 44.784|
|  3262|CA-2015-140662|17/11/2015|19/11/2015|   First Class|   TS-21205|      Thomas Seio|  Corporate|United States|San Francisco|  California|      94109|   West|TEC-AC-10001314|     Technology| Accessories|Case Logic 2.4GHz...|  99.98|
|  3357|US-2015-150434|19/07/2015|24/07/2015|Standard Class|   CA-12310|Christine Abelman|  Corporate|United States|      Bristol| Connecticut|       6010|   East|OFF-BI-10002160|Office Supplies|     Binders|Acco Hanging Data...|   3.81|
|  3515|CA-2018-140326|  4/9/2018|  6/9/2018|   First Class|   HW-14935|  Helen Wasserman|  Corporate|United States|      Chicago|    Illinois|      60653|Central|OFF-AR-10001149|Office Supplies|         Art|Sanford Colorific...|  6.912|
|  3637|CA-2017-145177|10/11/2017|14/11/2017|Standard Class|   PP-18955|       Paul Prost|Home Office|United States|  Springfield|        Ohio|      45503|   East|OFF-PA-10001776|Office Supplies|       Paper|Wirebound Message...| 22.248|
|  3667|CA-2015-129364| 8/12/2015|13/12/2015|Standard Class|   TB-21250|     Tim Brockman|   Consumer|United States|        Salem|      Oregon|      97301|   West|TEC-PH-10003095|     Technology|      Phones|Samsung HM1900 Bl...|  52.68|
|  3694|US-2016-131359|30/10/2016| 2/11/2016|  Second Class|   FA-14230|   Frank Atkinson|  Corporate|United States|       Denver|    Colorado|      80219|   West|FUR-FU-10003026|      Furniture| Furnishings|Eldon Regeneratio...| 15.488|
|  3818|CA-2016-102582|15/09/2016|19/09/2016|Standard Class|   NW-18400|   Natalie Webber|   Consumer|United States|       Mobile|     Alabama|      36608|  South|TEC-PH-10003187|     Technology|      Phones|Anker Astro Mini ...|  59.97|
+------+--------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+
only showing top 20 rows

In [ ]:
# есть более удобный вариант, где можно указать, по каким колонкам будет проводить удаление дубликатов
# уникальность будет определяться по кортежу из subset
df.dropDuplicates(subset=["Category", "Sub_Category"]).show()
df.dropDuplicates(subset=["Sub_Category"]).show()

+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+
|Row_ID|      Order_ID|Order_Date| Ship_Date|     Ship_Mode|Customer_ID|  Customer_Name|  Segment|      Country|           City|         State|Postal_Code| Region|     Product_ID|       Category|Sub_Category|        Product_Name|   Sales|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+
|     1|CA-2017-152156| 8/11/2017|11/11/2017|  Second Class|   CG-12520|    Claire Gute| Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|
|     2|CA-2017-152156| 8/11/2017|11/11/2017|  Second Class|   CG-12520|    Claire Gute| Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|
|     6|CA-2015-115812|  9/6/2015|14/06/2015|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|
|     4|US-2016-108966|11/10/2016|18/10/2016|Standard Class|   SO-20335|  Sean O Donnel| Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|
|    10|CA-2015-115812|  9/6/2015|14/06/2015|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|
|     7|CA-2015-115812|  9/6/2015|14/06/2015|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|
|     9|CA-2015-115812|  9/6/2015|14/06/2015|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|
|    31|US-2016-150630|17/09/2016|21/09/2016|Standard Class|   TB-21520|Tracy Blumstein| Consumer|United States|   Philadelphia|  Pennsylvania|      19140|   East|OFF-EN-10001509|Office Supplies|   Envelopes|Poly String Tie E...|   3.264|
|    54|CA-2017-105816|11/12/2017|17/12/2017|Standard Class|   JM-15265| Janet Molinari|Corporate|United States|  New York City|      New York|      10024|   East|OFF-FA-10000304|Office Supplies|   Fasteners|  Advantus Push Pins|   15.26|
|     3|CA-2017-138688| 12/6/2017|16/06/2017|  Second Class|   DV-13045|Darrin Van Huff|Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|
|    13|CA-2018-114412|15/04/2018|20/04/2018|Standard Class|   AA-10480|   Andrew Allen| Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|
|     5|US-2016-108966|11/10/2016|18/10/2016|Standard Class|   SO-20335|  Sean O Donnel| Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold N Roll...|  22.368|
|   139|CA-2017-145583|13/10/2017|19/10/2017|Standard Class|   LC-16885| Lena Creighton| Consumer|United States|      Roseville|    California|      95661|   West|OFF-SU-10001218|Office Supplies|    Supplies|Fiskars Softgrip ...|   65.88|
|    27|CA-2017-121755|16/01/2017|20/01/2017|  Second Class|   EH-13945|  Eric Hoffmann| Consumer|United States|    Los Angeles|    California|      90049|   West|TEC-AC-10003027|     Technology| Accessories|Imation�8GB Mini ...|   90.57|
|   336|CA-2016-137946|  1/9/2016|  4/9/2016|  Second Class|   DB-13615|  Doug Bickford| Consumer|United States|    Los Angeles|    California|      90045|   West|TEC-CO-10001449|     Technology|     Copiers|Hewlett Packard L...| 959.984|
|   166|CA-2015-139892|  8/9/2015| 12/9/2015|Standard Class|   BM-11140|   Becky Martin| Consumer|United States|    San Antonio|         Texas|      78207|Central|TEC-MA-10000822|     Technology|    Machines|Lexmark MX611dhe ...|8159.952|
|     8|CA-2015-115812|  9/6/2015|14/06/2015|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+

+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+
|Row_ID|      Order_ID|Order_Date| Ship_Date|     Ship_Mode|Customer_ID|  Customer_Name|  Segment|      Country|           City|         State|Postal_Code| Region|     Product_ID|       Category|Sub_Category|        Product_Name|   Sales|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+
|    27|CA-2017-121755|16/01/2017|20/01/2017|  Second Class|   EH-13945|  Eric Hoffmann| Consumer|United States|    Los Angeles|    California|      90049|   West|TEC-AC-10003027|     Technology| Accessories|Imation�8GB Mini ...|   90.57|
|    10|CA-2015-115812|  9/6/2015|14/06/2015|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|
|     7|CA-2015-115812|  9/6/2015|14/06/2015|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|
|     9|CA-2015-115812|  9/6/2015|14/06/2015|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|
|     1|CA-2017-152156| 8/11/2017|11/11/2017|  Second Class|   CG-12520|    Claire Gute| Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|
|     2|CA-2017-152156| 8/11/2017|11/11/2017|  Second Class|   CG-12520|    Claire Gute| Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|
|   336|CA-2016-137946|  1/9/2016|  4/9/2016|  Second Class|   DB-13615|  Doug Bickford| Consumer|United States|    Los Angeles|    California|      90045|   West|TEC-CO-10001449|     Technology|     Copiers|Hewlett Packard L...| 959.984|
|    31|US-2016-150630|17/09/2016|21/09/2016|Standard Class|   TB-21520|Tracy Blumstein| Consumer|United States|   Philadelphia|  Pennsylvania|      19140|   East|OFF-EN-10001509|Office Supplies|   Envelopes|Poly String Tie E...|   3.264|
|    54|CA-2017-105816|11/12/2017|17/12/2017|Standard Class|   JM-15265| Janet Molinari|Corporate|United States|  New York City|      New York|      10024|   East|OFF-FA-10000304|Office Supplies|   Fasteners|  Advantus Push Pins|   15.26|
|     6|CA-2015-115812|  9/6/2015|14/06/2015|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|
|     3|CA-2017-138688| 12/6/2017|16/06/2017|  Second Class|   DV-13045|Darrin Van Huff|Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|
|   166|CA-2015-139892|  8/9/2015| 12/9/2015|Standard Class|   BM-11140|   Becky Martin| Consumer|United States|    San Antonio|         Texas|      78207|Central|TEC-MA-10000822|     Technology|    Machines|Lexmark MX611dhe ...|8159.952|
|    13|CA-2018-114412|15/04/2018|20/04/2018|Standard Class|   AA-10480|   Andrew Allen| Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|
|     8|CA-2015-115812|  9/6/2015|14/06/2015|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|
|     5|US-2016-108966|11/10/2016|18/10/2016|Standard Class|   SO-20335|  Sean O Donnel| Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold N Roll...|  22.368|
|   139|CA-2017-145583|13/10/2017|19/10/2017|Standard Class|   LC-16885| Lena Creighton| Consumer|United States|      Roseville|    California|      95661|   West|OFF-SU-10001218|Office Supplies|    Supplies|Fiskars Softgrip ...|   65.88|
|     4|US-2016-108966|11/10/2016|18/10/2016|Standard Class|   SO-20335|  Sean O Donnel| Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+

In [ ]:
# Удаляем пустые строки. Параметр "all" означает, что будут удалены только те строки, в которых ВСЕ элементы null
# Пакет na - разные методы на пропусками в данных

# .na.drop("all") - удаляем строки, где во всех столбцах значение Null
# если в na передать аргумент any, удалим строки, где встречаются хотя бы раз Null

df \
    .distinct() \
    .na.drop("all") \
    .show(10)

+------+--------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-------------+----------+-----------+-------+---------------+---------------+------------+--------------------+-------+
|Row_ID|      Order_ID|Order_Date| Ship_Date|     Ship_Mode|Customer_ID|    Customer_Name|    Segment|      Country|         City|     State|Postal_Code| Region|     Product_ID|       Category|Sub_Category|        Product_Name|  Sales|
+------+--------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-------------+----------+-----------+-------+---------------+---------------+------------+--------------------+-------+
|   468|US-2016-101399|17/01/2016|24/01/2016|Standard Class|   JS-15940|  Joni Sundaresam|Home Office|United States|   Park Ridge|  Illinois|      60068|Central|FUR-FU-10002918|      Furniture| Furnishings|Eldon ClusterMat ...|254.744|
|  1172|US-2015-100279| 10/3/2015|14/03/2015|Standard Class|   SW-20275| Scott Williamson|   Consumer|United States|    Royal Oak|  Michigan|      48073|Central|OFF-PA-10002259|Office Supplies|       Paper|Geographics Note ...|  22.38|
|  2072|US-2018-110996|20/11/2018|25/11/2018|Standard Class|   KA-16525|   Kelly Andreada|   Consumer|United States|      Ontario|California|      91761|   West|FUR-CH-10003956|      Furniture|      Chairs|Novimex High-Tech...| 283.92|
|  2173|CA-2015-152296|  1/8/2015|  3/8/2015|   First Class|   IL-15100|      Ivan Liston|   Consumer|United States|San Francisco|California|      94122|   West|OFF-BI-10004506|Office Supplies|     Binders|Wilson Jones data...| 19.752|
|  2197|CA-2017-136483| 1/12/2017| 6/12/2017|Standard Class|   AG-10390|   Allen Goldenen|   Consumer|United States|    Knoxville| Tennessee|      37918|  South|OFF-AR-10000940|Office Supplies|         Art|          Newell 343|  4.704|
|  2372|CA-2017-159940|  7/7/2017| 11/7/2017|  Second Class|   BF-11020|Barry Franz�sisch|  Corporate|United States|       Aurora|  Illinois|      60505|Central|FUR-FU-10004973|      Furniture| Furnishings|Flat Face Poster ...| 60.288|
|  2501|CA-2018-131618|17/06/2018|20/06/2018|   First Class|   LS-17200|     Luke Schmidt|  Corporate|United States|       Skokie|  Illinois|      60076|Central|OFF-PA-10001892|Office Supplies|       Paper|Rediform Wireboun...| 12.224|
|  2628|US-2018-165344|13/11/2018|15/11/2018|   First Class|   SB-20290|     Sean Braxton|  Corporate|United States|  Springfield|      Ohio|      45503|   East|TEC-AC-10002399|     Technology| Accessories|SanDisk Cruzer 32...| 60.864|
|  2633|US-2018-110604|15/05/2018|20/05/2018|Standard Class|   JF-15295|   Jason Fortune-|   Consumer|United States|      Seattle|Washington|      98103|   West|FUR-CH-10002017|      Furniture|      Chairs|SAFCO Optional Ar...| 42.624|
|  2825|US-2015-112914|25/09/2015|30/09/2015|Standard Class|   MT-18070|    Michelle Tran|Home Office|United States|      Houston|     Texas|      77041|Central|OFF-PA-10003270|Office Supplies|       Paper|          Xerox 1954| 33.792|
+------+--------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-------------+----------+-----------+-------+---------------+---------------+------------+--------------------+-------+
only showing top 10 rows

In [ ]:
# Заполняем пустые значения, потому что 1 + 0 = 1, а 1 + NULL = NULL
# Передаем в na.fill python словарь, в котором указываются значения, которые следует использовать для null

# Null = Null  - false
# Null != Null - false
# is Null / is not Null


df \
    .distinct() \
    .na.drop("all") \
    .na.fill({'Postal_Code': '99999', 'Sales': 0}) \
    .show()

+------+--------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+
|Row_ID|      Order_ID|Order_Date| Ship_Date|     Ship_Mode|Customer_ID|    Customer_Name|    Segment|      Country|         City|       State|Postal_Code| Region|     Product_ID|       Category|Sub_Category|        Product_Name|  Sales|
+------+--------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+
|   468|US-2016-101399|17/01/2016|24/01/2016|Standard Class|   JS-15940|  Joni Sundaresam|Home Office|United States|   Park Ridge|    Illinois|      60068|Central|FUR-FU-10002918|      Furniture| Furnishings|Eldon ClusterMat ...|254.744|
|  1172|US-2015-100279| 10/3/2015|14/03/2015|Standard Class|   SW-20275| Scott Williamson|   Consumer|United States|    Royal Oak|    Michigan|      48073|Central|OFF-PA-10002259|Office Supplies|       Paper|Geographics Note ...|  22.38|
|  2072|US-2018-110996|20/11/2018|25/11/2018|Standard Class|   KA-16525|   Kelly Andreada|   Consumer|United States|      Ontario|  California|      91761|   West|FUR-CH-10003956|      Furniture|      Chairs|Novimex High-Tech...| 283.92|
|  2173|CA-2015-152296|  1/8/2015|  3/8/2015|   First Class|   IL-15100|      Ivan Liston|   Consumer|United States|San Francisco|  California|      94122|   West|OFF-BI-10004506|Office Supplies|     Binders|Wilson Jones data...| 19.752|
|  2197|CA-2017-136483| 1/12/2017| 6/12/2017|Standard Class|   AG-10390|   Allen Goldenen|   Consumer|United States|    Knoxville|   Tennessee|      37918|  South|OFF-AR-10000940|Office Supplies|         Art|          Newell 343|  4.704|
|  2372|CA-2017-159940|  7/7/2017| 11/7/2017|  Second Class|   BF-11020|Barry Franz�sisch|  Corporate|United States|       Aurora|    Illinois|      60505|Central|FUR-FU-10004973|      Furniture| Furnishings|Flat Face Poster ...| 60.288|
|  2501|CA-2018-131618|17/06/2018|20/06/2018|   First Class|   LS-17200|     Luke Schmidt|  Corporate|United States|       Skokie|    Illinois|      60076|Central|OFF-PA-10001892|Office Supplies|       Paper|Rediform Wireboun...| 12.224|
|  2628|US-2018-165344|13/11/2018|15/11/2018|   First Class|   SB-20290|     Sean Braxton|  Corporate|United States|  Springfield|        Ohio|      45503|   East|TEC-AC-10002399|     Technology| Accessories|SanDisk Cruzer 32...| 60.864|
|  2633|US-2018-110604|15/05/2018|20/05/2018|Standard Class|   JF-15295|   Jason Fortune-|   Consumer|United States|      Seattle|  Washington|      98103|   West|FUR-CH-10002017|      Furniture|      Chairs|SAFCO Optional Ar...| 42.624|
|  2825|US-2015-112914|25/09/2015|30/09/2015|Standard Class|   MT-18070|    Michelle Tran|Home Office|United States|      Houston|       Texas|      77041|Central|OFF-PA-10003270|Office Supplies|       Paper|          Xerox 1954| 33.792|
|  2915|CA-2016-134747|12/10/2016|17/10/2016|  Second Class|   DL-12925|      Daniel Lacy|   Consumer|United States|  Noblesville|     Indiana|      46060|Central|TEC-PH-10002890|     Technology|      Phones|AT&T 17929 Lendli...| 135.72|
|  2921|CA-2017-160129|23/11/2017|23/11/2017|      Same Day|   LS-17200|     Luke Schmidt|  Corporate|United States| Philadelphia|Pennsylvania|      19140|   East|FUR-FU-10003976|      Furniture| Furnishings|DAX Executive Sol...| 70.448|
|  3139|CA-2018-164168|12/11/2018|18/11/2018|Standard Class|   LS-16975| Lindsay Shagiari|Home Office|United States|       Dallas|       Texas|      75081|Central|TEC-AC-10004568|     Technology| Accessories|Maxell�LTO Ultriu...| 44.784|
|  3262|CA-2015-140662|17/11/2015|19/11/2015|   First Class|   TS-21205|      Thomas Seio|  Corporate|United States|San Francisco|  California|      94109|   West|TEC-AC-10001314|     Technology| Accessories|Case Logic 2.4GHz...|  99.98|
|  3357|US-2015-150434|19/07/2015|24/07/2015|Standard Class|   CA-12310|Christine Abelman|  Corporate|United States|      Bristol| Connecticut|       6010|   East|OFF-BI-10002160|Office Supplies|     Binders|Acco Hanging Data...|   3.81|
|  3515|CA-2018-140326|  4/9/2018|  6/9/2018|   First Class|   HW-14935|  Helen Wasserman|  Corporate|United States|      Chicago|    Illinois|      60653|Central|OFF-AR-10001149|Office Supplies|         Art|Sanford Colorific...|  6.912|
|  3637|CA-2017-145177|10/11/2017|14/11/2017|Standard Class|   PP-18955|       Paul Prost|Home Office|United States|  Springfield|        Ohio|      45503|   East|OFF-PA-10001776|Office Supplies|       Paper|Wirebound Message...| 22.248|
|  3667|CA-2015-129364| 8/12/2015|13/12/2015|Standard Class|   TB-21250|     Tim Brockman|   Consumer|United States|        Salem|      Oregon|      97301|   West|TEC-PH-10003095|     Technology|      Phones|Samsung HM1900 Bl...|  52.68|
|  3694|US-2016-131359|30/10/2016| 2/11/2016|  Second Class|   FA-14230|   Frank Atkinson|  Corporate|United States|       Denver|    Colorado|      80219|   West|FUR-FU-10003026|      Furniture| Furnishings|Eldon Regeneratio...| 15.488|
|  3818|CA-2016-102582|15/09/2016|19/09/2016|Standard Class|   NW-18400|   Natalie Webber|   Consumer|United States|       Mobile|     Alabama|      36608|  South|TEC-PH-10003187|     Technology|      Phones|Anker Astro Mini ...|  59.97|
+------+--------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+-------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+
only showing top 20 rows

In [ ]:
# Пример выборки нескольких колонок

clean_data = df \
    .distinct() \
    .na.drop("all") \
    .na.fill({'Postal_Code': '99999', 'Sales': 0}) \
    .select('Postal_Code', 'Sales')

clean_data.select('postal_code').show()

+-----------+-------+
|Postal_Code|  Sales|
+-----------+-------+
|      60068|254.744|
|      48073|  22.38|
|      91761| 283.92|
|      94122| 19.752|
|      37918|  4.704|
|      60505| 60.288|
|      60076| 12.224|
|      45503| 60.864|
|      98103| 42.624|
|      77041| 33.792|
|      46060| 135.72|
|      19140| 70.448|
|      75081| 44.784|
|      94109|  99.98|
|       6010|   3.81|
|      60653|  6.912|
|      45503| 22.248|
|      97301|  52.68|
|      80219| 15.488|
|      36608|  59.97|
+-----------+-------+
only showing top 20 rows

In [ ]:
clean_data.select('postal_code').show()

+-----------+
|postal_code|
+-----------+
|      60068|
|      48073|
|      91761|
|      94122|
|      37918|
|      60505|
|      60076|
|      45503|
|      98103|
|      77041|
|      46060|
|      19140|
|      75081|
|      94109|
|       6010|
|      60653|
|      45503|
|      97301|
|      80219|
|      36608|
+-----------+
only showing top 20 rows

In [ ]:
df.show(10, 0)

+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+----------------------------------------------------------------+--------+
|Row_ID|Order_ID      |Order_Date|Ship_Date |Ship_Mode     |Customer_ID|Customer_Name  |Segment  |Country      |City           |State     |Postal_Code|Region|Product_ID     |Category       |Sub_Category|Product_Name                                                    |Sales   |
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+----------------------------------------------------------------+--------+
|1     |CA-2017-152156|8/11/2017 |11/11/2017|Second Class  |CG-12520   |Claire Gute    |Consumer |United States|Henderson      |Kentucky  |42420      |South |FUR-BO-10001798|Furniture      |Bookcases   |Bush Somerset Collection Bookcase                               |261.96  |
|2     |CA-2017-152156|8/11/2017 |11/11/2017|Second Class  |CG-12520   |Claire Gute    |Consumer |United States|Henderson      |Kentucky  |42420      |South |FUR-CH-10000454|Furniture      |Chairs      |Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back     |731.94  |
|3     |CA-2017-138688|12/6/2017 |16/06/2017|Second Class  |DV-13045   |Darrin Van Huff|Corporate|United States|Los Angeles    |California|90036      |West  |OFF-LA-10000240|Office Supplies|Labels      |Self-Adhesive Address Labels for Typewriters by Universal       |14.62   |
|4     |US-2016-108966|11/10/2016|18/10/2016|Standard Class|SO-20335   |Sean O Donnel  |Consumer |United States|Fort Lauderdale|Florida   |33311      |South |FUR-TA-10000577|Furniture      |Tables      |Bretford CR4500 Series Slim Rectangular Table                   |957.5775|
|5     |US-2016-108966|11/10/2016|18/10/2016|Standard Class|SO-20335   |Sean O Donnel  |Consumer |United States|Fort Lauderdale|Florida   |33311      |South |OFF-ST-10000760|Office Supplies|Storage     |Eldon Fold N Roll Cart System                                   |22.368  |
|6     |CA-2015-115812|9/6/2015  |14/06/2015|Standard Class|BH-11710   |Brosina Hoffman|Consumer |United States|Los Angeles    |California|90032      |West  |FUR-FU-10001487|Furniture      |Furnishings |Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood|48.86   |
|7     |CA-2015-115812|9/6/2015  |14/06/2015|Standard Class|BH-11710   |Brosina Hoffman|Consumer |United States|Los Angeles    |California|90032      |West  |OFF-AR-10002833|Office Supplies|Art         |Newell 322                                                      |7.28    |
|8     |CA-2015-115812|9/6/2015  |14/06/2015|Standard Class|BH-11710   |Brosina Hoffman|Consumer |United States|Los Angeles    |California|90032      |West  |TEC-PH-10002275|Technology     |Phones      |Mitel 5320 IP Phone VoIP phone                                  |907.152 |
|9     |CA-2015-115812|9/6/2015  |14/06/2015|Standard Class|BH-11710   |Brosina Hoffman|Consumer |United States|Los Angeles    |California|90032      |West  |OFF-BI-10003910|Office Supplies|Binders     |DXL Angle-View Binders with Locking Rings by Samsill            |18.504  |
|10    |CA-2015-115812|9/6/2015  |14/06/2015|Standard Class|BH-11710   |Brosina Hoffman|Consumer |United States|Los Angeles    |California|90032      |West  |OFF-AP-10002892|Office Supplies|Appliances  |Belkin F5C206VTEL 6 Outlet Surge                                |114.9   |
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+----------------------------------------------------------------+--------+
only showing top 10 rows

In [ ]:
# Строим базовую группировку

df.groupBy('Category').count().show(20, False)

+---------------+-----+
|Category       |count|
+---------------+-----+
|Office Supplies|5909 |
|Furniture      |2078 |
|Technology     |1813 |
+---------------+-----+

In [ ]:
# Метод count можно спрятать внутри agg()
from pyspark.sql.functions import count, col

agg = df.groupBy('Category').agg(count("*"))

In [ ]:
agg.show()

+---------------+--------+
|       Category|count(1)|
+---------------+--------+
|Office Supplies|    5909|
|      Furniture|    2078|
|     Technology|    1813|
+---------------+--------+

In [ ]:
# Чтобы колонки имели правильное имя, следует использовать метод alias()

agg = df.groupBy('Category', 'Sub_Category').agg(count("*").alias("count_sub_category"))
agg.show()

+---------------+------------+------------------+
|       Category|Sub_Category|count_sub_category|
+---------------+------------+------------------+
|Office Supplies|  Appliances|               459|
|Office Supplies|   Envelopes|               248|
|      Furniture|      Chairs|               607|
|Office Supplies|     Storage|               832|
|Office Supplies|       Paper|              1338|
|Office Supplies|    Supplies|               184|
|     Technology|     Copiers|                66|
|Office Supplies|         Art|               785|
|Office Supplies|     Binders|              1492|
|     Technology| Accessories|               756|
|Office Supplies|   Fasteners|               214|
|      Furniture|   Bookcases|               226|
|     Technology|      Phones|               876|
|Office Supplies|      Labels|               357|
|     Technology|    Machines|               115|
|      Furniture|      Tables|               314|
|      Furniture| Furnishings|               931|
+---------------+------------+------------------+

In [ ]:
# Добавим в группировку сумму населения на каждом континенте

from pyspark.sql.functions import count, sum

agg =  df.groupBy('Category', 'Sub_Category')\
         .agg(count("*").alias("category_count"), sum('Sales').alias("Sales_sum"))

agg.show()

+---------------+------------+--------------+------------------+
|       Category|Sub_Category|category_count|         Sales_sum|
+---------------+------------+--------------+------------------+
|Office Supplies|  Appliances|           459|104618.40299999998|
|Office Supplies|   Envelopes|           248|16128.045999999997|
|      Furniture|      Chairs|           607| 322822.7310000008|
|Office Supplies|     Storage|           832| 219343.3920000001|
|Office Supplies|       Paper|          1338| 76828.30400000002|
|Office Supplies|    Supplies|           184| 46420.30800000001|
|     Technology|     Copiers|            66|146248.09399999995|
|Office Supplies|         Art|           785|26705.409999999956|
|Office Supplies|     Binders|          1492|200028.78500000003|
|     Technology| Accessories|           756|164186.70000000016|
|Office Supplies|   Fasteners|           214|3001.9599999999996|
|      Furniture|   Bookcases|           226|113813.19869999998|
|     Technology|      Phones|           876|327782.44800000027|
|Office Supplies|      Labels|           357|         12347.726|
|     Technology|    Machines|           115|189238.63099999996|
|      Furniture|      Tables|           314| 202810.6280000001|
|      Furniture| Furnishings|           931| 89212.01800000003|
+---------------+------------+--------------+------------------+

## Запись данных
Основной метод записи в любые системы

```df.write.format(datasource_type).options(datasource_options).mode(savemode).save(object_name)```

+ ```datasource_type``` - тип источника ("parquet", "json", "cassandra") и т. д.
+ ```datasource_options``` - опции для работы с источником (логины, пароли, адреса для подключения и т. д.)
+ ```savemode``` - режим записи данных (добавление, перезапись и т. д.)
+ ```object_name``` - имя таблицы/файла/топика/индекса

[DataFrameWriter](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameWriter):
+ метод ```save``` является действием
+ позволяет работать с партиционированными данными (parquet, orc)
+ не всегда валидирует схему и формат данных


### Список (неполный) поддерживаемых источников данных
+ Файлы:
  - json
  - text
  - csv
  - orc
  - parquet
  - delta
+ Базы данных
  - elasticsearch
  - cassandra
  - jdbc
  - hive
  - redis
  - mongo
+ Брокеры сообщений
  - kafka

In [ ]:
agg.show()

+---------------+------------+--------------+------------------+
|       Category|Sub_Category|category_count|         Sales_sum|
+---------------+------------+--------------+------------------+
|Office Supplies|  Appliances|           459|104618.40299999998|
|Office Supplies|   Envelopes|           248|16128.045999999997|
|      Furniture|      Chairs|           607| 322822.7310000008|
|Office Supplies|     Storage|           832| 219343.3920000001|
|Office Supplies|       Paper|          1338| 76828.30400000002|
|Office Supplies|    Supplies|           184| 46420.30800000001|
|     Technology|     Copiers|            66|146248.09399999995|
|Office Supplies|         Art|           785|26705.409999999956|
|Office Supplies|     Binders|          1492|200028.78500000003|
|     Technology| Accessories|           756|164186.70000000016|
|Office Supplies|   Fasteners|           214|3001.9599999999996|
|      Furniture|   Bookcases|           226|113813.19869999998|
|     Technology|      Phones|           876|327782.44800000027|
|Office Supplies|      Labels|           357|         12347.726|
|     Technology|    Machines|           115|189238.63099999996|
|      Furniture|      Tables|           314| 202810.6280000001|
|      Furniture| Furnishings|           931| 89212.01800000003|
+---------------+------------+--------------+------------------+

In [ ]:
# Сохраним данные в parquet, предварительно отфильтровав данные
agg \
    .filter(col('Category') == 'Technology') \
    .write\
    .parquet('test3', mode="overwrite")

In [ ]:
# Если мы хотим использовать другое количество партиции, указываем его через repartition
# Сохраним данные в parquet, предварительно отфильтровав данные
agg \
    .filter(col('Category') == 'Technology') \
    .repartition(1)\
    .write\
    .parquet('test3', mode="overwrite")

In [ ]:
# указание колонки, по которой требуется проводить партицирование указывается через .partitionBy()
agg \
    .filter(col('Category') == 'Technology') \
    .write\
    .partitionBy("Sub_Category") \
    .parquet('test3', mode="overwrite")

## Соединения

Join'ы позволяют соединять два DF в один по заданным условиям.

По типу условия join'ы делятся на:
+ equ-join - соединение по равенству одного или более ключей
+ non-equ join - соединение по условию, отличному от равенства одного или более ключей

При выполнении join Spark автоматически выбирает один [из доступных алгоритмов](https://youtu.be/fp53QhSfQcI) соединения и не всегда делает это оптимально, часто применяя cross join. Поэтому, в последних версиях Spark метод ```join()``` приведет к ошибке, если под капотом он будет использовать cross join. Отключить эту проверку можно с помощью опции ```--conf spark.sql.crossJoin.enabled=true```

In [ ]:
# inner join

# outer join:
    # left join
    # right join
    # full join

# cross join

In [ ]:
customer = spark.read.option("header",True).option('sep',';').csv("customer.csv")

In [ ]:
customer.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- job_industry_category: string (nullable = true)
 |-- wealth_segment: string (nullable = true)
 |-- deceased_indicator: string (nullable = true)
 |-- owns_car: string (nullable = true)
 |-- address: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- property_valuation: string (nullable = true)

In [ ]:
transaction = spark.read.option("header",True).option('sep',';').csv("transaction.csv")

In [ ]:
transaction.printSchema()

root
 |-- transaction_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- online_order: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- product_line: string (nullable = true)
 |-- product_class: string (nullable = true)
 |-- product_size: string (nullable = true)
 |-- list_price: string (nullable = true)
 |-- standard_cost: string (nullable = true)

In [ ]:
# Самый простой join - inner join по равенству одной колонки
joined = transaction.join(customer, 'customer_id', 'inner')

joined.printSchema()
joined.show(5)

root
 |-- customer_id: string (nullable = true)
 |-- transaction_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- online_order: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- product_line: string (nullable = true)
 |-- product_class: string (nullable = true)
 |-- product_size: string (nullable = true)
 |-- list_price: string (nullable = true)
 |-- standard_cost: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- job_industry_category: string (nullable = true)
 |-- wealth_segment: string (nullable = true)
 |-- deceased_indicator: string (nullable = true)
 |-- owns_car: string (nullable = true)
 |-- address: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- property_valuation: string (nullable = true)

+-----------+--------------+----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+----------+---------+------+----------+--------------------+---------------------+-----------------+------------------+--------+--------------------+--------+-----+---------+------------------+
|customer_id|transaction_id|product_id|transaction_date|online_order|order_status|         brand|product_line|product_class|product_size|list_price|standard_cost|first_name|last_name|gender|       DOB|           job_title|job_industry_category|   wealth_segment|deceased_indicator|owns_car|             address|postcode|state|  country|property_valuation|
+-----------+--------------+----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+----------+---------+------+----------+--------------------+---------------------+-----------------+------------------+--------+--------------------+--------+-----+---------+------------------+
|       2950|             1|         2|      25.02.2017|       False|    Approved|         Solex|    Standard|       medium|      medium|     71,49|        53,62|   Kristos|  Anthony|  Male|1955-01-11| Software Engineer I|   Financial Services|    Mass Customer|                 N|     Yes|3 New Castle Terrace|    3032|  VIC|Australia|                 8|
|       3120|             2|         3|      21.05.2017|        True|    Approved| Trek Bicycles|    Standard|       medium|       large|   2091,47|       388,92|    Lauree|O'Donnell|Female|1979-02-04| Clinical Specialist|               Health|    Mass Customer|                 N|     Yes|    32 Elmside Point|    2560|  NSW|Australia|                 6|
|        402|             3|        37|      16.10.2017|       False|    Approved|    OHM Cycles|    Standard|          low|      medium|   1793,43|       248,82|     Berne|  Donegan|  Male|1977-06-03|Desktop Support T...|               Retail|Affluent Customer|                 N|      No|07 New Castle Circle|    2646|  NSW|Australia|                 1|
|       3135|             4|        88|      31.08.2017|       False|    Approved|Norco Bicycles|    Standard|       medium|      medium|   1198,46|       381,10|     Titus|  Worsall|  Male|1962-01-14|     Staff Scientist|   Financial Services|    Mass Customer|                 N|      No|24712 Hazelcrest ...|    3024|  VIC|Australia|                 7|
|        787|             5|        78|      01.10.2017|        True|    Approved|Giant Bicycles|    Standard|       medium|       large|    1765,3|       709,48|     Norma|   Batrim|Female|1996-12-15|                NULL|               Retail|Affluent Customer|                 N|     Yes|   79 Arkansas Drive|    3008|  VIC|Australia|                10|
+-----------+--------------+----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+----------+---------+------+----------+--------------------+---------------------+-----------------+------------------+--------+--------------------+--------+-----+---------+------------------+
only showing top 5 rows

In [ ]:
joined.count()

19997

In [ ]:
# Inner join по равенству двух колонок. Поскольку двух одинаковых колонок у нас нет, мы создадим их из константы
from pyspark.sql.functions import lit

left = customer.withColumn("x", lit("x"))
right = transaction.withColumn("x", lit("x"))

joined = left.join(right, ['customer_id', 'x'], 'inner')

joined.printSchema()
joined.show(5)

root
 |-- customer_id: string (nullable = true)
 |-- x: string (nullable = false)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- job_industry_category: string (nullable = true)
 |-- wealth_segment: string (nullable = true)
 |-- deceased_indicator: string (nullable = true)
 |-- owns_car: string (nullable = true)
 |-- address: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- property_valuation: string (nullable = true)
 |-- transaction_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- online_order: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- product_line: string (nullable = true)
 |-- product_class: string (nullable = true)
 |-- product_size: string (nullable = true)
 |-- list_price: string (nullable = true)
 |-- standard_cost: string (nullable = true)

+-----------+---+----------+---------+------+----------+--------------------+---------------------+-----------------+------------------+--------+--------------------+--------+-----+---------+------------------+--------------+----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+
|customer_id|  x|first_name|last_name|gender|       DOB|           job_title|job_industry_category|   wealth_segment|deceased_indicator|owns_car|             address|postcode|state|  country|property_valuation|transaction_id|product_id|transaction_date|online_order|order_status|         brand|product_line|product_class|product_size|list_price|standard_cost|
+-----------+---+----------+---------+------+----------+--------------------+---------------------+-----------------+------------------+--------+--------------------+--------+-----+---------+------------------+--------------+----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+
|       2950|  x|   Kristos|  Anthony|  Male|1955-01-11| Software Engineer I|   Financial Services|    Mass Customer|                 N|     Yes|3 New Castle Terrace|    3032|  VIC|Australia|                 8|             1|         2|      25.02.2017|       False|    Approved|         Solex|    Standard|       medium|      medium|     71,49|        53,62|
|       3120|  x|    Lauree|O'Donnell|Female|1979-02-04| Clinical Specialist|               Health|    Mass Customer|                 N|     Yes|    32 Elmside Point|    2560|  NSW|Australia|                 6|             2|         3|      21.05.2017|        True|    Approved| Trek Bicycles|    Standard|       medium|       large|   2091,47|       388,92|
|        402|  x|     Berne|  Donegan|  Male|1977-06-03|Desktop Support T...|               Retail|Affluent Customer|                 N|      No|07 New Castle Circle|    2646|  NSW|Australia|                 1|             3|        37|      16.10.2017|       False|    Approved|    OHM Cycles|    Standard|          low|      medium|   1793,43|       248,82|
|       3135|  x|     Titus|  Worsall|  Male|1962-01-14|     Staff Scientist|   Financial Services|    Mass Customer|                 N|      No|24712 Hazelcrest ...|    3024|  VIC|Australia|                 7|             4|        88|      31.08.2017|       False|    Approved|Norco Bicycles|    Standard|       medium|      medium|   1198,46|       381,10|
|        787|  x|     Norma|   Batrim|Female|1996-12-15|                NULL|               Retail|Affluent Customer|                 N|     Yes|   79 Arkansas Drive|    3008|  VIC|Australia|                10|             5|        78|      01.10.2017|        True|    Approved|Giant Bicycles|    Standard|       medium|       large|    1765,3|       709,48|
+-----------+---+----------+---------+------+----------+--------------------+---------------------+-----------------+------------------+--------+--------------------+--------+-----+---------+------------------+--------------+----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+
only showing top 5 rows

In [ ]:
# Inner join по равенству двух колонок. Поскольку двух одинаковых колонок у нас нет, мы создадим их из константы
from pyspark.sql.functions import lit

left = customer.withColumn("x", lit("x"))
right = transaction.withColumn("x", lit("x"))

joined = left.join(right, (left.customer_id == right.customer_id) & (left.DOB>='1999-01-01'), 'inner')

joined.printSchema()
joined.show(5)

root
 |-- customer_id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- job_industry_category: string (nullable = true)
 |-- wealth_segment: string (nullable = true)
 |-- deceased_indicator: string (nullable = true)
 |-- owns_car: string (nullable = true)
 |-- address: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- property_valuation: string (nullable = true)
 |-- x: string (nullable = true)
 |-- transaction_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- online_order: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- product_line: string (nullable = true)
 |-- product_class: string (nullable = true)
 |-- product_size: string (nullable = true)
 |-- list_price: string (nullable = true)
 |-- standard_cost: string (nullable = true)
 |-- x: string (nullable = false)

+-----------+----------+---------+------+----+---------+---------------------+--------------+------------------+--------+-------+--------+-----+-------+------------------+----+--------------+----------+-----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+---+
|customer_id|first_name|last_name|gender| DOB|job_title|job_industry_category|wealth_segment|deceased_indicator|owns_car|address|postcode|state|country|property_valuation|   x|transaction_id|product_id|customer_id|transaction_date|online_order|order_status|         brand|product_line|product_class|product_size|list_price|standard_cost|  x|
+-----------+----------+---------+------+----+---------+---------------------+--------------+------------------+--------+-------+--------+-----+-------+------------------+----+--------------+----------+-----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+---+
|       NULL|      NULL|     NULL|  NULL|NULL|     NULL|                 NULL|          NULL|              NULL|    NULL|   NULL|    NULL| NULL|   NULL|              NULL|NULL|             1|         2|       2950|      25.02.2017|       False|    Approved|         Solex|    Standard|       medium|      medium|     71,49|        53,62|  x|
|       NULL|      NULL|     NULL|  NULL|NULL|     NULL|                 NULL|          NULL|              NULL|    NULL|   NULL|    NULL| NULL|   NULL|              NULL|NULL|             2|         3|       3120|      21.05.2017|        True|    Approved| Trek Bicycles|    Standard|       medium|       large|   2091,47|       388,92|  x|
|       NULL|      NULL|     NULL|  NULL|NULL|     NULL|                 NULL|          NULL|              NULL|    NULL|   NULL|    NULL| NULL|   NULL|              NULL|NULL|             3|        37|        402|      16.10.2017|       False|    Approved|    OHM Cycles|    Standard|          low|      medium|   1793,43|       248,82|  x|
|       NULL|      NULL|     NULL|  NULL|NULL|     NULL|                 NULL|          NULL|              NULL|    NULL|   NULL|    NULL| NULL|   NULL|              NULL|NULL|             4|        88|       3135|      31.08.2017|       False|    Approved|Norco Bicycles|    Standard|       medium|      medium|   1198,46|       381,10|  x|
|       NULL|      NULL|     NULL|  NULL|NULL|     NULL|                 NULL|          NULL|              NULL|    NULL|   NULL|    NULL| NULL|   NULL|              NULL|NULL|             5|        78|        787|      01.10.2017|        True|    Approved|Giant Bicycles|    Standard|       medium|       large|    1765,3|       709,48|  x|
+-----------+----------+---------+------+----+---------+---------------------+--------------+------------------+--------+-------+--------+-----+-------+------------------+----+--------------+----------+-----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+---+
only showing top 5 rows

In [ ]:
joined.count()

20000

In [ ]:
customer.count()

4000

In [ ]:
# Один из самых простов вариантов ускорить работу join - сделать broadcast.
# При этом DF будет целиком склонирован на каждый воркер, что минимизирует shuffle во время выполнения join'а

# BroadCast() - cамый быстрый вид join в спарке. Строит хэш таблицу и кладет на каждый
# воркер копию для увеличения скорости работы джойна.

# Это позволяет очень быстро проверять условие соединения join

from pyspark.sql.functions import broadcast

joined = transaction.join(broadcast(customer), 'customer_id', 'inner')

joined.printSchema()
joined.show(5)

root
 |-- customer_id: string (nullable = true)
 |-- transaction_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- online_order: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- product_line: string (nullable = true)
 |-- product_class: string (nullable = true)
 |-- product_size: string (nullable = true)
 |-- list_price: string (nullable = true)
 |-- standard_cost: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- job_industry_category: string (nullable = true)
 |-- wealth_segment: string (nullable = true)
 |-- deceased_indicator: string (nullable = true)
 |-- owns_car: string (nullable = true)
 |-- address: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- property_valuation: string (nullable = true)

+-----------+--------------+----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+----------+---------+------+----------+--------------------+---------------------+-----------------+------------------+--------+--------------------+--------+-----+---------+------------------+
|customer_id|transaction_id|product_id|transaction_date|online_order|order_status|         brand|product_line|product_class|product_size|list_price|standard_cost|first_name|last_name|gender|       DOB|           job_title|job_industry_category|   wealth_segment|deceased_indicator|owns_car|             address|postcode|state|  country|property_valuation|
+-----------+--------------+----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+----------+---------+------+----------+--------------------+---------------------+-----------------+------------------+--------+--------------------+--------+-----+---------+------------------+
|       2950|             1|         2|      25.02.2017|       False|    Approved|         Solex|    Standard|       medium|      medium|     71,49|        53,62|   Kristos|  Anthony|  Male|1955-01-11| Software Engineer I|   Financial Services|    Mass Customer|                 N|     Yes|3 New Castle Terrace|    3032|  VIC|Australia|                 8|
|       3120|             2|         3|      21.05.2017|        True|    Approved| Trek Bicycles|    Standard|       medium|       large|   2091,47|       388,92|    Lauree|O'Donnell|Female|1979-02-04| Clinical Specialist|               Health|    Mass Customer|                 N|     Yes|    32 Elmside Point|    2560|  NSW|Australia|                 6|
|        402|             3|        37|      16.10.2017|       False|    Approved|    OHM Cycles|    Standard|          low|      medium|   1793,43|       248,82|     Berne|  Donegan|  Male|1977-06-03|Desktop Support T...|               Retail|Affluent Customer|                 N|      No|07 New Castle Circle|    2646|  NSW|Australia|                 1|
|       3135|             4|        88|      31.08.2017|       False|    Approved|Norco Bicycles|    Standard|       medium|      medium|   1198,46|       381,10|     Titus|  Worsall|  Male|1962-01-14|     Staff Scientist|   Financial Services|    Mass Customer|                 N|      No|24712 Hazelcrest ...|    3024|  VIC|Australia|                 7|
|        787|             5|        78|      01.10.2017|        True|    Approved|Giant Bicycles|    Standard|       medium|       large|    1765,3|       709,48|     Norma|   Batrim|Female|1996-12-15|                NULL|               Retail|Affluent Customer|                 N|     Yes|   79 Arkansas Drive|    3008|  VIC|Australia|                10|
+-----------+--------------+----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+----------+---------+------+----------+--------------------+---------------------+-----------------+------------------+--------+--------------------+--------+-----+---------+------------------+
only showing top 5 rows

## Оконные функции

Оконные функции позволяют делать функции над "окнами" (кто бы мог подумать) данных

Окно создается из класса [pyspark.sql.Window](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Window) с указанием полей, определяющих границы окон и полей, определяющих порядок сортировки внутри окна:

```window = Window.partitionBy("a", "b").orderBy("a")```

Применяя окна, можно использовать такие полезные функции из [pyspark.sql.functions](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#module-pyspark.sql.functions), как ```lag()``` и ```lead()```, а также эффективно работать с данными time-series, вычисляя такие параметры, как, например, среднее значение заданного поля за 3-х часовой интервал

In [ ]:
customer.show(5)

+-----------+--------------+---------+------+----------+--------------------+---------------------+-----------------+------------------+--------+-------------------+--------+---------------+---------+------------------+
|customer_id|    first_name|last_name|gender|       DOB|           job_title|job_industry_category|   wealth_segment|deceased_indicator|owns_car|            address|postcode|          state|  country|property_valuation|
+-----------+--------------+---------+------+----------+--------------------+---------------------+-----------------+------------------+--------+-------------------+--------+---------------+---------+------------------+
|          1|       Laraine|Medendorp|     F|1953-10-12| Executive Secretary|               Health|    Mass Customer|                 N|     Yes| 060 Morning Avenue|    2016|New South Wales|Australia|                10|
|          2|           Eli|  Bockman|  Male|1980-12-16|Administrative Of...|   Financial Services|    Mass Customer|                 N|     Yes|6 Meadow Vale Court|    2153|New South Wales|Australia|                10|
|          3|         Arlin|   Dearle|  Male|1954-01-20|  Recruiting Manager|             Property|    Mass Customer|                 N|     Yes| 0 Holy Cross Court|    4211|            QLD|Australia|                 9|
|          4|        Talbot|     NULL|  Male|1961-10-03|                NULL|                   IT|    Mass Customer|                 N|      No|17979 Del Mar Point|    2448|New South Wales|Australia|                 4|
|          5|Sheila-kathryn|   Calton|Female|1977-05-13|       Senior Editor|                  n/a|Affluent Customer|                 N|     Yes|   9 Oakridge Court|    3216|            VIC|Australia|                 9|
+-----------+--------------+---------+------+----------+--------------------+---------------------+-----------------+------------------+--------+-------------------+--------+---------------+---------+------------------+
only showing top 5 rows

In [ ]:
transaction.show(5)

+--------------+----------+-----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+
|transaction_id|product_id|customer_id|transaction_date|online_order|order_status|         brand|product_line|product_class|product_size|list_price|standard_cost|
+--------------+----------+-----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+
|             1|         2|       2950|      25.02.2017|       False|    Approved|         Solex|    Standard|       medium|      medium|     71,49|        53,62|
|             2|         3|       3120|      21.05.2017|        True|    Approved| Trek Bicycles|    Standard|       medium|       large|   2091,47|       388,92|
|             3|        37|        402|      16.10.2017|       False|    Approved|    OHM Cycles|    Standard|          low|      medium|   1793,43|       248,82|
|             4|        88|       3135|      31.08.2017|       False|    Approved|Norco Bicycles|    Standard|       medium|      medium|   1198,46|       381,10|
|             5|        78|        787|      01.10.2017|        True|    Approved|Giant Bicycles|    Standard|       medium|       large|    1765,3|       709,48|
+--------------+----------+-----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+
only showing top 5 rows

In [ ]:
# В нашем случае, используя оконные функции, мы можем построить DF из предыдущих примеров c join,
# но без использования соединения
#
from pyspark.sql import Window
import pyspark.sql.functions as F

window = Window.partitionBy("customer_id")

agg = transaction \
    .withColumn("customer_count",    F.count("*").over(window)) \
    .withColumn("standard_cost_sum", F.sum(F.regexp_replace('standard_cost', ',', '.').cast('float')).over(window))

agg.show()

+--------------+----------+-----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+--------------+------------------+
|transaction_id|product_id|customer_id|transaction_date|online_order|order_status|         brand|product_line|product_class|product_size|list_price|standard_cost|customer_count| standard_cost_sum|
+--------------+----------+-----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+--------------+------------------+
|            94|        86|          1|      23.12.2017|       False|    Approved|    OHM Cycles|    Standard|       medium|      medium|    235,63|       125,07|            11| 6066.360103607178|
|          3765|        38|          1|      06.04.2017|        True|    Approved|         Solex|    Standard|       medium|      medium|   1577,53|       826,51|            11| 6066.360103607178|
|          5157|        47|          1|      11.05.2017|        True|    Approved| Trek Bicycles|        Road|          low|       small|    1720,7|      1531,42|            11| 6066.360103607178|
|          9785|        72|          1|      05.01.2017|       False|    Approved|Norco Bicycles|    Standard|       medium|      medium|     360,4|       270,30|            11| 6066.360103607178|
|         13424|         2|          1|      21.02.2017|       False|    Approved|         Solex|    Standard|       medium|      medium|     71,49|        53,62|            11| 6066.360103607178|
|         13644|        25|          1|      19.05.2017|       False|    Approved|Giant Bicycles|        Road|       medium|      medium|   1538,99|       829,65|            11| 6066.360103607178|
|         14486|        23|          1|      27.03.2017|       False|    Approved|Norco Bicycles|    Mountain|          low|       small|    688,63|       612,88|            11| 6066.360103607178|
|         14931|        31|          1|      14.12.2017|        True|    Approved|Giant Bicycles|    Standard|       medium|      medium|    230,91|       173,18|            11| 6066.360103607178|
|         15663|        32|          1|      04.06.2017|        True|    Approved|Giant Bicycles|    Standard|       medium|      medium|     642,7|       211,37|            11| 6066.360103607178|
|         16423|         9|          1|      09.12.2017|        True|    Approved|    OHM Cycles|        Road|       medium|      medium|    742,54|       667,40|            11| 6066.360103607178|
|         18970|        11|          1|      29.03.2017|        True|    Approved|Giant Bicycles|    Standard|         high|      medium|   1274,93|       764,96|            11| 6066.360103607178|
|          4565|         5|         10|      26.08.2017|       False|    Approved| Trek Bicycles|    Mountain|          low|      medium|    574,64|       459,71|             6|1645.4699783325195|
|          5956|        21|         10|      20.06.2017|        True|    Approved|         Solex|    Standard|       medium|       large|   1071,23|       380,74|             6|1645.4699783325195|
|         10250|        44|         10|      13.07.2017|        True|    Approved|      WeareA2B|    Standard|       medium|      medium|   1769,64|       108,76|             6|1645.4699783325195|
|         14899|        69|         10|      09.08.2017|       False|    Approved|Giant Bicycles|        Road|       medium|      medium|     792,9|       594,68|             6|1645.4699783325195|
|         16095|         0|         10|      27.11.2017|       False|    Approved|          NULL|        NULL|         NULL|        NULL|   2064,08|         NULL|             6|1645.4699783325195|
|         18946|        53|         10|      17.11.2017|       False|    Approved|    OHM Cycles|    Standard|       medium|      medium|    795,34|       101,58|             6|1645.4699783325195|
|          5925|        51|        100|      10.05.2017|        True|    Approved|    OHM Cycles|    Standard|         high|      medium|   2005,66|      1203,40|             2| 1870.800048828125|
|          9585|         9|        100|      19.12.2017|        True|    Approved|    OHM Cycles|        Road|       medium|      medium|    742,54|       667,40|             2| 1870.800048828125|
|           967|        45|       1000|      26.06.2017|        True|    Approved|         Solex|    Standard|       medium|      medium|    441,49|        84,99|             9| 4800.220008850098|
+--------------+----------+-----------+----------------+------------+------------+--------------+------------+-------------+------------+----------+-------------+--------------+------------------+
only showing top 20 rows

In [ ]:
# Работать чисто с SQL через Spark

spark.sql("""select 1 as cnt""").show()

+---+
|cnt|
+---+
|  1|
+---+

## Выводы
**Dataframe API**:
+ мощный инструмент для работы с данными
+ в отличие от RDD, Dataframe API устроен так, что все вычисления происходят в JVM
+ обладает единым API для работы с различными источниками данных
+ имеет большой набор встроенных функций работы с данными

## Spark Catalyst
Основной модуль, отвечающий за разбор SQL, и оптимизацию плана выполнения запроса — Spark Catalyst.

Расширенный вывод при описании плана запроса ```df.explain(true)``` позволяет отследить все стадии, которые проходит запрос:

**```Parsed Logical Plan```** - получаем после синтаксического разбора SQL. На этом этапе проверяется только синтаксическая корректность запроса.

**```Analyzed Logical Plan```** - на этом этапе добавляется информация о структуре используемых сущностей, проверяется соответствие структуры и запрашиваемых атрибутов.

**```Optimized Logical Plan```** - самое интересное для нас. На данном этапе происходит преобразование получившегося дерева запроса на основании доступных правил оптимизации.

**```Physical Plan```** — начинают учитываться особенности доступа к исходным данным, включая оптимизации по фильтрации партиций и данных для минимизации получаемого набора данных. Выбирается стратегия выполнения join

In [ ]:
# план запроса
# extended - покажи мне все, что есть в плане запроса
agg.explain(extended=True)

== Parsed Logical Plan ==
'Project [transaction_id#3367, product_id#3368, customer_id#3369, transaction_date#3370, online_order#3371, order_status#3372, brand#3373, product_line#3374, product_class#3375, product_size#3376, list_price#3377, standard_cost#3378, customer_count#6576L, sum(cast(regexp_replace('standard_cost, ,, ., 1) as float)) windowspecdefinition('customer_id, unspecifiedframe$()) AS standard_cost_sum#6591]
+- Project [transaction_id#3367, product_id#3368, customer_id#3369, transaction_date#3370, online_order#3371, order_status#3372, brand#3373, product_line#3374, product_class#3375, product_size#3376, list_price#3377, standard_cost#3378, customer_count#6576L]
   +- Project [transaction_id#3367, product_id#3368, customer_id#3369, transaction_date#3370, online_order#3371, order_status#3372, brand#3373, product_line#3374, product_class#3375, product_size#3376, list_price#3377, standard_cost#3378, customer_count#6576L, customer_count#6576L]
      +- Window [count(1) windowspecdefinition(customer_id#3369, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS customer_count#6576L], [customer_id#3369]
         +- Project [transaction_id#3367, product_id#3368, customer_id#3369, transaction_date#3370, online_order#3371, order_status#3372, brand#3373, product_line#3374, product_class#3375, product_size#3376, list_price#3377, standard_cost#3378]
            +- Relation [transaction_id#3367,product_id#3368,customer_id#3369,transaction_date#3370,online_order#3371,order_status#3372,brand#3373,product_line#3374,product_class#3375,product_size#3376,list_price#3377,standard_cost#3378] csv

== Analyzed Logical Plan ==
transaction_id: string, product_id: string, customer_id: string, transaction_date: string, online_order: string, order_status: string, brand: string, product_line: string, product_class: string, product_size: string, list_price: string, standard_cost: string, customer_count: bigint, standard_cost_sum: double
Project [transaction_id#3367, product_id#3368, customer_id#3369, transaction_date#3370, online_order#3371, order_status#3372, brand#3373, product_line#3374, product_class#3375, product_size#3376, list_price#3377, standard_cost#3378, customer_count#6576L, standard_cost_sum#6591]
+- Project [transaction_id#3367, product_id#3368, customer_id#3369, transaction_date#3370, online_order#3371, order_status#3372, brand#3373, product_line#3374, product_class#3375, product_size#3376, list_price#3377, standard_cost#3378, customer_count#6576L, _w0#6592, standard_cost_sum#6591, standard_cost_sum#6591]
   +- Window [sum(_w0#6592) windowspecdefinition(customer_id#3369, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS standard_cost_sum#6591], [customer_id#3369]
      +- Project [transaction_id#3367, product_id#3368, customer_id#3369, transaction_date#3370, online_order#3371, order_status#3372, brand#3373, product_line#3374, product_class#3375, product_size#3376, list_price#3377, standard_cost#3378, customer_count#6576L, cast(regexp_replace(standard_cost#3378, ,, ., 1) as float) AS _w0#6592]
         +- Project [transaction_id#3367, product_id#3368, customer_id#3369, transaction_date#3370, online_order#3371, order_status#3372, brand#3373, product_line#3374, product_class#3375, product_size#3376, list_price#3377, standard_cost#3378, customer_count#6576L]
            +- Project [transaction_id#3367, product_id#3368, customer_id#3369, transaction_date#3370, online_order#3371, order_status#3372, brand#3373, product_line#3374, product_class#3375, product_size#3376, list_price#3377, standard_cost#3378, customer_count#6576L, customer_count#6576L]
               +- Window [count(1) windowspecdefinition(customer_id#3369, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS customer_count#6576L], [customer_id#3369]
                  +- Project [transaction_id#3367, product_id#3368, customer_id#3369, transaction_date#3370, online_order#3371, order_status#3372, brand#3373, product_line#3374, product_class#3375, product_size#3376, list_price#3377, standard_cost#3378]
                     +- Relation [transaction_id#3367,product_id#3368,customer_id#3369,transaction_date#3370,online_order#3371,order_status#3372,brand#3373,product_line#3374,product_class#3375,product_size#3376,list_price#3377,standard_cost#3378] csv

== Optimized Logical Plan ==
Project [transaction_id#3367, product_id#3368, customer_id#3369, transaction_date#3370, online_order#3371, order_status#3372, brand#3373, product_line#3374, product_class#3375, product_size#3376, list_price#3377, standard_cost#3378, customer_count#6576L, standard_cost_sum#6591]
+- Window [sum(_w0#6592) windowspecdefinition(customer_id#3369, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS standard_cost_sum#6591], [customer_id#3369]
   +- Project [transaction_id#3367, product_id#3368, customer_id#3369, transaction_date#3370, online_order#3371, order_status#3372, brand#3373, product_line#3374, product_class#3375, product_size#3376, list_price#3377, standard_cost#3378, customer_count#6576L, cast(regexp_replace(standard_cost#3378, ,, ., 1) as float) AS _w0#6592]
      +- Window [count(1) windowspecdefinition(customer_id#3369, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS customer_count#6576L], [customer_id#3369]
         +- Relation [transaction_id#3367,product_id#3368,customer_id#3369,transaction_date#3370,online_order#3371,order_status#3372,brand#3373,product_line#3374,product_class#3375,product_size#3376,list_price#3377,standard_cost#3378] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [transaction_id#3367, product_id#3368, customer_id#3369, transaction_date#3370, online_order#3371, order_status#3372, brand#3373, product_line#3374, product_class#3375, product_size#3376, list_price#3377, standard_cost#3378, customer_count#6576L, standard_cost_sum#6591]
   +- Window [sum(_w0#6592) windowspecdefinition(customer_id#3369, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS standard_cost_sum#6591], [customer_id#3369]
      +- Project [transaction_id#3367, product_id#3368, customer_id#3369, transaction_date#3370, online_order#3371, order_status#3372, brand#3373, product_line#3374, product_class#3375, product_size#3376, list_price#3377, standard_cost#3378, customer_count#6576L, cast(regexp_replace(standard_cost#3378, ,, ., 1) as float) AS _w0#6592]
         +- Window [count(1) windowspecdefinition(customer_id#3369, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS customer_count#6576L], [customer_id#3369]
            +- Sort [customer_id#3369 ASC NULLS FIRST], false, 0
               +- Exchange hashpartitioning(customer_id#3369, 200), ENSURE_REQUIREMENTS, [plan_id=2550]
                  +- FileScan csv [transaction_id#3367,product_id#3368,customer_id#3369,transaction_date#3370,online_order#3371,order_status#3372,brand#3373,product_line#3374,product_class#3375,product_size#3376,list_price#3377,standard_cost#3378] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/transaction.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<transaction_id:string,product_id:string,customer_id:string,transaction_date:string,online_...